/* FOOTER STYLING */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--black);
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer input {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background-color: var(--grey);
  padding: 12px 20px;
  border: none;
  border-style: hidden;
  color: var(--white);
}
footer textarea {
  width: 100%;
  height: 175px;
  resize: none;
  background-color: var(--grey);
  border: none;
  padding: 12px 20px;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}
footer input:focus textarea:focus {
  border: 3px solid var(--green);
}
input .message {
  height: 175px;
}
footer button {
  height: 60px;
  width: 120px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
}
footer button:hover {
  background-color: #02a378;
}
.white-line {
  width: 90%;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
footer ul img {
  height: 15px;
  transform: translateY(50px);
}
.black-line {
  width: 100%;
  background-color: black;
  height: 2px;
}
.footer-contact {
  height: 80px;
  width: 100%;
  padding-left: 20px;
}
.footer-contact img {
  padding-right: 50px;
  transform: translateY(8px);
}
.social-media {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media img {
  padding: 10px;
}
.social-media p {
  /* font-size: 16px; */
  padding-top: 40px;
}
footer .logo {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
