/* FOOTER STYLING */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--black);
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer input {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background-color: var(--grey);
  padding: 12px 20px;
  border: none;
  border-style: hidden;
  color: var(--white);
}
footer textarea {
  width: 100%;
  height: 175px;
  resize: none;
  background-color: var(--grey);
  border: none;
  padding: 12px 20px;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}
footer input:focus textarea:focus {
  border: 3px solid var(--green);
}
input .message {
  height: 175px;
}
footer .submit {
  height: 60px;
  width: 120px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 20px;
  transition: 1s ease;
}
footer .submit:hover {
  filter: saturate(2.5);
}
.white-line {
  width: 90%;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}
.logo-footer {
  height: 70px;
  width: 200px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  padding-left: 20px;
  padding-right: 20px;
}
footer .dropdown-btn {
  background-color: unset;
  border: none;
  height: 20px;
  width: 30px;
  transform: translate(250px, -85px);
  display: flex;
  justify-content: center;
}
footer ul img:hover {
  filter: saturate(2.5);
}
footer ul img {
  height: 15px;
  transition: 1s ease;
}
/* @keyframes myanim {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
} */
.dropdown {
  display: none;
  transition: 3s ease-in-out;
}
.show-dropdown {
  display: inherit;
}

.black-line {
  width: 100%;
  background-color: black;
  height: 2px;
}
.footer-contact {
  height: 80px;
  width: 100%;
  padding-left: 20px;
}
.footer-contact img {
  padding-right: 50px;
  transform: translateY(8px);
}
.social-media {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media img {
  padding: 10px;
}
.social-media p {
  padding-top: 40px;
}
footer .logo {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
