.nav {
  background-color: var(--black);
  padding-top: 1rem;
  
}
.menu-text {
  position: absolute;
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 0.5rem;
  color: #fafafa;
}

/* hamburger bar  */

.nav-toggle {
  position: absolute;
  margin: 0rem 1rem;
}
svg {
  width: 1.5rem;
  fill: black;
}

.close {
  display: none;
}

.nav-checkbox {
  display: none;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  margin: 1rem;
  justify-content: center;
  /* height: 100vh; */
  /* width: 100vw; */
  position: relative;
  
  
}
.nav-menu li {
  list-style: none;
  display: none;
  background-color: var(--black);
  
  
}
.list-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  justify-content: center;
  
}

.hej {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2rem;
}
#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

.items-nav {
  display: flex;
  justify-content: center;
}
.logo-svg {
  width: 10rem;
}

/* menu and exit where in different sizes */
.menu {
  width: 2rem;
}

