@media only screen and (min-width: 700px) {
  .logo-svg {
    display: block;
  }
  .logo-svg-mobile {
    display: none;
  }
  .menu-down {
    width: 40%;
  }
}

/* FOOTER */
@media screen and (min-width: 700px) {
  .contact-container {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  form {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer input {
    width: 48.5%;
    gap: 20px;
  }
  #first-name {
    margin-right: 10px;
  }
  #email {
    margin-right: 10px;
  }
  footer .logo {
    justify-content: start;
  }

  .logo-footer {
    height: 100px;
    width: 300px;
    margin-left: 18px;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
  .black-line {
    display: none;
  }
  footer .dropdown-btn {
    display: none;
  }
  .dropdown {
    display: inherit;
  }
}
