@media only screen and (min-width: 700px) {
  .logo-svg {
    display: block;
  }
  .logo-svg-mobile {
    display: none;
  }
  .menu-down {
    width: 34%;
  }
  h1 {
    font-size: 64px;
  }
  p {
    font-size: 20px;
  }
}

@media screen and (min-width: 375px) {
  /* FOOTER */
  footer .dropdown-btn {
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(300px, -85px);
  }
}
@media screen and (min-width: 465px) {
  /* FOOTER */
  footer .dropdown-btn {
    transform: translate(400px, -85px);
  }
}

@media screen and (min-width: 700px) {
  /* FOOTER */
  .contact-container {
    width: 60%;
  }
  footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  .black-line {
    display: none;
  }
  footer .dropdown-btn {
    display: none;
  }
  .dropdown {
    display: inherit;
  }
  .footer-contact-box {
    margin-top: 50px;
    margin-left: 35%;
  }
  footer li {
    width: 50%;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 64px;
  }
  p {
    font-size: 32px;
  }
  /* HERO */
  .text-block {
    flex-direction: row;
    gap: 2rem;
    padding: 4rem;
    padding-top: 6rem;
  }
  .text-block h2 {
    width: 55%;
  }
  .text-block p {
    padding-top: 2rem;
    width: 60%;
  }
  /* NEWSLETTER */
  .newsletter-box {
    width: 90%;
    background-color: var(--green);
  }
  .newsletter img {
    height: 100%;
  }
  .newsletter-box h3 {
    font-size: 40px;
  }
  .newsletter {
    display: flex;
    background-color: var(--black);
    padding-bottom: 0;
  }
  .email {
    gap: 30px;
    padding-bottom: 2rem;
  }
  .email input,
  .email button {
    height: 60px;
  }

  /* CHOOSE LIGHT */
  .choose-light-desktop {
    display: block;
  }
  .choose-light {
    display: none;
  }
  .interior {
    display: none;
  }
  .studio-img {
    display: none;
  }
  .choose-light-desktop p {
    margin-top: 0;
    padding-right: 3rem;
    padding-left: 1rem;
  }
  .studio-img-desktop {
    display: block;
    width: 100%;
  }
  .light-desktop {
    width: 65%;
  }
  .interior-img {
    display: none;
  }
  .interior-desktop {
    width: 35%;
  }
  .choose-light {
    padding: 0;
    width: 100%;
  }
  .studio img {
    width: 100%;
  }
  .color {
    width: 100%;
    display: flex;
  }
  .colors {
    width: 65%;
  }

  /* MERCHANDISE */
  .merchandise {
    display: none;
  }
  .merchandise-desktop {
    display: block;
  }
  .merchandise-desktop img {
    width: 100%;
    transition: 0.5s ease;
  }
  .merch-image-desktop {
    overflow: hidden;
  }
  .merch-image-desktop:hover img {
    transform: scale(1.3);
  }
  /* 360 */
  video {
    display: none;
  }
  .three-sixty h2 {
    padding-left: 32px;
    padding-top: 4rem;
  }
  .three-sixty h3 {
    display: block;
    padding-left: 32px;
  }
  .three-sixty-viewer {
    display: flex;
  }

  /* MOVIE TIME */
  .movie-time {
    flex-direction: row;
  }
  .movie-time img {
    height: 100%;
  }
  .movie-time .text-block {
    width: 100%;
    flex-direction: column;
    padding: 0;
    padding-left: 2rem;
  }
  .movie-time .text-block h2,
  .movie-time .text-block p {
    width: 100%;
  }

  /* FOOTER */
  form {
    justify-content: space-between;
  }
  footer p {
    font-size: 18px;
  }
  footer input {
    width: 48.5%;
    gap: 20px;
  }
  #first-name {
    margin-right: 10px;
  }
  footer #email {
    margin-right: 10px;
  }
  footer .logo {
    justify-content: start;
  }
  .logo-footer {
    height: 100px;
    width: 300px;
    margin-left: 50px;
  }
  footer ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  footer li {
    padding-left: 20px;
    width: initial;
  }
  .black-line {
    display: none;
  }
  footer .dropdown-btn {
    display: none;
  }
  .dropdown {
    display: inherit;
  }
  .footer-contact-box {
    margin-top: 50px;
    margin-left: 0;
  }
  .footer-contact {
    padding: 0;
    padding-top: 40px;
  }
  .footer-contact:first-child {
    transform: translateX(-33px);
  }
  .footer-contact:first-child img {
    transform: translate(60px, -30px);
  }
  .footer-contact img {
    padding-right: 5px;
    width: 35px;
    transform: translate(30px, -15px);
  }
}
@media screen and (min-width: 1079px) {
  /* MERCHANDISE */
  .merchandise-desktop {
    padding-left: 62px;
    padding-right: 62px;
  }
  .merch-items p {
    text-align: end;
    padding: 0;
    margin-top: 5px;
  }

  /* THREE-SIXTY */
  .three-sixty h2 {
    padding-left: 64px;
  }
  .three-sixty h3 {
    display: block;
    padding-left: 64px;
  }

  /* FOOTER */
  .footer-contact:first-child {
    transform: translateX(0px);
  }
  .footer-contact:first-child img {
    transform: translate(0px);
  }
  .footer-contact img {
    padding-right: 5px;
    width: 35px;
    transform: translate(0px);
  }
  .logo-footer {
    margin-left: 80px;
  }
  .social-media {
    flex-direction: row;
    /* padding-left: 300px; */
  }
  .social-media p {
    transform: translate(220px, -20px);
  }
}

@media screen and (min-width: 1340px) {
  .merch-image-desktop {
    width: 25rem;
    height: 25rem;
  }
  .merch-item {
    max-width: 25rem;
  }
}
