* {
  box-sizing: border-box;
}
:root {
  --white: #fafafa;
  --black: #262327;
  --green: #00c690;
  --blue: #008eb2;
  --desktop-body-font: 20px;
  --mobile-body-font: 16px;
}
body {
  margin: 0;
  font-size: 16px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 64px;
  font-family: "Russo One", sans-serif;
}
h2 {
  font-size: 32px;
}
/* SECTIONS STYLING */
section {
  width: 100%;
}
/* HERO */
.hero-one {
  width: 100%;
  background-color: var(--green);
}
.hero-one img {
  width: 100%;
  height: 100%;
}
.hero-two {
  width: 100%;
  background-color: var(--green);
}
.hero-two img {
  width: 100%;
  height: 100%;
}
/* NEWSLETTER */
.newsletter {
  width: 100%;
  background-color: var(--black);
  font-size: var(--mobile-body-font);
  padding-bottom: 38px;
}
.newsletter h2 {
  color: var(--green);
}
.newsletter img {
  width: 100%;
}
.newsletter h2,
p,
form {
  padding-right: 17px;
  padding-left: 17px;
}
.email {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 10px;
}
.email input {
  border: none;
  height: 30px;
}
.email button {
  height: 30px;
  background-color: #e1e1e1;
  border: none;
}

/* NEWSLETTER DESKTOP VERSION */
/* .newsletter-box {
  width: 35%;
  background-color: whitesmoke;
} */

/* TEXT-BLOCK */
.text-block {
  width: 100%;
}
/* STUDIO */
.studio img {
  width: 100%;
}
/* IMAGES */
.images {
  width: 100%;
  background-color: var(--green);
  display: flex;
}
.studio-m img {
  width: 60vw;
}
.studio-s img {
  width: 30vw;
}
/* TEXTBLOCK SECTION */
.text-block {
  background-color: var(--green);
  padding-left: 17px;
  padding-right: 17px;
}
/* MERCHANDISE */
/* MOBILE VERSION */
.merchandise {
  padding-left: 17px;
  padding-right: 17px;
  width: 100%;
  background-color: var(--green);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.merchandise img {
  width: 100%;
}
.merch-item-large {
  width: 304px;
}
.merch-item-small {
  width: 145px;
}

/* DESKTOP VERSION */
.merchandise-desktop {
  width: 100%;
  background-color: darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
}
.merchandise-desktop img {
  width: 100%;
}
.text-block-desktop {
  width: 19rem;
  height: 115px;
  background-color: whitesmoke;
  margin-bottom: 2rem;
}
.merch-image-desktop {
  width: 19rem;
  height: 19rem;
  background-color: whitesmoke;
}

/* 360 SECTION */
/* PURE CSS ATTEMPT */
.three-sixty {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.three-sixty span {
  position: absolute;
  top: 0;
  left: calc(100% / 25 * var(--i));
  width: calc(100% / 25);
  height: 100%;
}
.three-sixty img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}
.three-sixty img:nth-child(2),
.three-sixty span:hover + img {
  opacity: 1;
}

/* DETAIL SECTION */
.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detail-image img {
  width: 100%;
}
/* SLOGAN SECTION */
.slogan {
  background-color: var(--green);
  padding-left: 17px;
  padding-right: 17px;
}
/* FOOTER STYLING */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 350px;
  background-color: var(--black);
}
