* {
  box-sizing: border-box;
}
:root {
  --white: #fafafa;
  --black: #262327;
  --green: #00c690;
  --blue: #008eb2;
  --grey: #393d3e;
  --desktop-body-font: 20px;
  --mobile-body-font: 18px;
}
body {
  margin: 0;
  font-size: 18px;
  color: var(--white);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 64px;
  font-family: "Russo One", sans-serif;
}
h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Russo One", sans-serif;
}
h3 {
  font-size: 32px;
  font-weight: 500;
}
h4 {
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  font-weight: 300;
}
p {
  font-size: 18px;
}
/* SECTIONS STYLING */
section {
  width: 100%;
}
/* HERO */
.hero-one {
  width: 100%;
}
.hero-one img {
  width: 100%;
  height: 100%;
}
.hero-two {
  width: 100%;
}
.hero-two img {
  width: 100%;
  height: 100%;
}
/* NEWSLETTER */
.newsletter {
  width: 100%;
  background-color: var(--green);
  font-size: var(--mobile-body-font);
  padding-bottom: 38px;
  color: var(--black);
}
.newsletter img {
  width: 100%;
}
.newsletter h3,
p,
form {
  padding-right: 17px;
  padding-left: 17px;
}
.email {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 10px;
}
.email input {
  border: none;
  height: 30px;
}
.email button {
  height: 30px;
  background-color: #e1e1e1;
  border: none;
}

/* NEWSLETTER DESKTOP VERSION */
/* .newsletter-box {
  width: 35%;
  background-color: whitesmoke;
} */

/* TEXTBLOCK SECTION */
.text-block {
  padding-left: 17px;
  padding-right: 17px;
  width: 100%;
  color: var(--black);
}
/* CHOOSE LIGHT SECTION */
/* MOBILE VERSION */
.choose-light {
  padding-left: 17px;
  padding-right: 17px;
  width: 100%;
  color: var(--black);
}
.choose-light img {
  width: 100%;
}
.movie-time {
  width: 100%;
}
/* DESKTOP VERSION */
.choose-light-desktop {
  padding: 0;
  width: 100%;
  display: none;
}
.studio img {
  width: 100%;
}
.choose-light-desktop .images {
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  background-color: var(--green);
  display: flex;
}
.studio-m img {
  width: 60vw;
}
.studio-s img {
  width: 30vw;
}
/* MERCHANDISE */
/* MOBILE VERSION */
.merchandise {
  padding-left: 17px;
  padding-right: 17px;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.merchandise img {
  width: 100%;
}
.merch-items-small {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.merch-item-large {
  width: 100%;
}
.merch-item-small {
  width: 100%;
  object-fit: cover;
}

/* DESKTOP VERSION */
.merchandise-desktop {
  width: 100%;
  background-color: darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
}
.merchandise-desktop img {
  width: 100%;
}
.text-block-desktop {
  width: 19rem;
  height: 115px;
  background-color: whitesmoke;
  margin-bottom: 2rem;
}
.merch-image-desktop {
  width: 19rem;
  height: 19rem;
  background-color: whitesmoke;
}

/* 360 SECTION */
/* PURE CSS ATTEMPT */
.three-sixty h2 {
  color: var(--black);
  padding-left: 17px;
  padding-right: 17px;
}
.three-sixty-viewer {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.three-sixty-viewer span {
  position: absolute;
  top: 0;
  left: calc(100% / 25 * var(--i));
  width: calc(100% / 25);
  height: 100%;
}
.three-sixty-viewer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}
.three-sixty-viewer img:nth-child(2),
.three-sixty-viewer span:hover + img {
  opacity: 1;
}

/* MOVIE TIME SECTION */
.movie-time {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  color: var(--black);
}
.movie-time h2 {
  padding-left: 17px;
}
.interior-image img {
  width: 100%;
}
/* SLOGAN SECTION */
.slogan {
  background-color: var(--green);
  padding-left: 17px;
  padding-right: 17px;
}
