* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

:root {
  --pink: #ea2070;
  --dark: #0f0030;
  --blue: #394aee;
  --purple: #b135ec;
}

/* SECTIONS STYLING */
/* HERO */
.hero {
  width: 100%;
  height: 720px;
  background-color: lightgrey;
}
.hero img {
  width: 100%;
  height: 100%;
}
/* NEWSLETTER */
.newsletter {
  width: 100%;
  height: 677px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter img {
  width: 100%;
}
.newsletter-box {
  width: 250px;
  height: 250px;
  background-color: whitesmoke;
  margin-top: 5rem;
}
/* IMAGES */
.images {
  width: 100%;
  height: 677px;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.images div {
  width: 15rem;
  height: 8rem;
  background-color: var(--pink);
  margin-top: 1rem;
  flex-wrap: wrap;
}
/* MERCHANDISE */
.merchandise {
  width: 100%;
  height: 677px;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-block {
  width: 19rem;
  height: 115px;
  background-color: whitesmoke;
  margin-bottom: 3rem;
}
.merch-image {
  width: 19rem;
  height: 19rem;
  background-color: whitesmoke;
}
/* FOOTER STYLING */
footer {
  width: 100%;
  height: 350px;
  background-color: black;
}
